/* いつきのヘッダー */
.header-inner{
  align-items: center;
  background-color: #fff;
  display: flex;
  padding: 15px 24px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-nav{
  margin-left: auto;
  align-items: center;
  display: flex;
}

.header-title{
  font-weight: bold;
  display: flex;
  list-style: none;
  gap: 32px;  
}

.header-icon{
  display: flex;
  list-style: none;
  gap: 16px;
}

.header-nav li a{
  text-decoration: none;
  color: #666;
}





/* さら担当 */































.main-sub-heading {
    margin: 50px;
}
.main-month-heading {
    text-align: center;
    padding-top: 90px;
}
.main-month-heading-txt {
color: chocolate;
display: inline-block;
font-family: 'Noto Sans JP';
}

.main-birthday-card-img {
display: inline-block;
width: 70px;
}

.main-year-heading {
    color: rgb(211, 198, 198);
    margin-left: 17%;
    display: inline-block;
    background-color: rgb(112, 94, 72);
    border-radius: 4px;
    width: 7%;
    text-align: center;
    border-style: solid;
}

.main-birthday-slide-img {
    width: 35%;
    margin: 0 auto;
    border-radius: 10px;
}

.main-birthday-slide {
    text-align: center;
}
.main-birthday-name {
    color: rgb(174, 160, 97);
    display: inline-block;
    margin-left: 20px;
}

.main-birthday-comment {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(106, 101, 84);
    border: dotted;
    border-color: rgb(225, 208, 186);
}

.main-birthday-heading-comment {
  margin-left: 20%;
  color: brown;
}
.main-good-btn {
    margin-left: 60%;
    background-color: rgb(243, 94, 168);
    border-radius: 4px;
    border-color: rgb(231, 75, 184);
    color: rgb(43, 40, 40);
}


/* .main-sub-heading {
   
} */