/* いつきのヘッダー */
.header-inner{
  align-items: center;
  background-color: #fff;
  display: flex;
  padding: 15px 24px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-nav{
  margin-left: auto;
  align-items: center;
  display: flex;
}

.header-title{
  font-weight: bold;
  display: flex;
  list-style: none;
  gap: 32px;  
}

.header-icon{
  display: flex;
  list-style: none;
  gap: 16px;
}

.header-nav li a{
  text-decoration: none;
  color: #666;
}





/* さら担当 */































.main-sub-heading {
    margin: 50px;
}
.main-month-heading {
    text-align: center;
    padding-top: 90px;
}
.main-month-heading-txt {
color: chocolate;
display: inline-block;
font-family: 'Noto Sans JP';
}

.main-birthday-card-img {
display: inline-block;
width: 70px;
}

.main-year-heading {
    color: dimgray;
    margin-left: 40px;
    display: inline-block;
    background-color: bisque;
    border-radius: 4px;
    width: 7%;
    text-align: center;
}

.main-birthday-slide-img {
    width: 30%;
    margin: 0 auto;
}

.main-birthday-slide {
    text-align: center;
}
.main-birthday-name {
    color: rgb(174, 160, 97);
    display: inline-block;
    margin-left: 20px;
}

.main-birthday-comment {
    margin: 70px;
    color: rgb(106, 101, 84);
}

.main-good-btn {
    margin-left: 60%;
}
/* .main-sub-heading {
   
} */