body{
    font-family: 'Noto Sans JP', sans-serif;
}

.header-inner{
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 15px 24px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

}


.header-nav{

    margin-left: auto;
    align-items: center;
    display: flex;
}


.header-title{
    font-weight: bold;
    display: flex;
    list-style: none;
    gap: 32px;  
}

.header-icon{

    display: flex;
    list-style: none;
    gap: 16px;
}


.header-nav li a{

    text-decoration: none;
    color: #666;
}






.main-event-heading {
    margin: 100px;
    margin-left: 2%;
    color: darkgreen;
    font-family: sans-serif;
    font-weight: lighter;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 95%, rgb(148, 211, 155) 95%);
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    width: 30%;

}

.main-event-subheading-img {
    
    width: 80%;
    height: 600px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    margin-top: 10%;
    margin-left: 100px
    
}

.main-event-subheading  {
    display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
    font-weight: 600;
	text-align: center;
    margin-top: 0%;
}

.main-event-subheading::before,
.main-event-subheading::after {
	content: '';
	width: 70px;
	height: 2px;
	background-color:  rgb(131, 134, 131);
}

.main-event-subheading::before {
    margin-right: 30px;
	transform: rotate(35deg)
}
.main-event-subheading::after {
	margin-left: 30px;
	transform: rotate(-35deg)
}

.main-next-event {
    display: flex;
    display: grid;
}

.main-event-title {
    font-size: 45px;
    display: inline-block;
    color: darkgreen;;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    padding: 0.2em 0;/*上下の余白*/
    border-top: solid 1px rgb(199, 207, 199);/*上線*/
    border-bottom: solid 1px rgb(199, 207, 199);/*下線*/
}

.main-event-contents {
    margin: 7%;
    margin-top: 2%;
}

.main-event-date{
    line-height: 25px;
    font-weight: 600;
}

.main-event-date span{
    color: rgb(235, 176, 74);
    
}

.main-event-comment {
    position: relative;
    display: inline-block;
    margin: 10% 0 1.5em 15px;
    padding: 15px;
    line-height: 1.5em;
    text-align: left;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    background: rgb(43, 89, 58);
    /* border-radius: 30px; */
    box-sizing: border-box;
    display: grid;
}




.main-event-comment:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid rgb(41, 87, 56);
    z-index: 0;
}






/* ゆうや担当 */
.main-wrapper h1{
    margin-top: 100px;
    margin-bottom: 0px;
    justify-content: center;
	align-items: center;
	font-size: 40px;
    font-weight: 600;
	text-align: center;
    margin-top: 10%;
}
/*tabの形状*/
.tab{
	display: flex;
	flex-wrap: wrap;
    font-size: 30px;
    justify-content: space-around;

}
ul{
    list-style: none;
    margin-top: 5%;
    border-top: 2px black;

}

.tab li a{
    color: rgb(23, 23, 23);
	display: block;
	/* background:#ddd; */
	margin:0 2px;
	padding:10px 20px;
    text-decoration: none;

} 
    
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
    background:#fff;
    border-bottom: 3px solid rgb(230, 177, 78);
}


/*エリアの表示非表示と形状*/
.area {
    display: none;/*はじめは非表示*/
	opacity: 0;/*透過0*/
	background: #fff;
	padding:50px 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.slider{
    margin: 50px auto;
    width: 50%;
}
.slider img{
    height: auto;
    width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}



@media (min-width: 720px)
{

    .main-next-event {
        grid-template-columns: repeat(2, 1fr);
    }
}

@keyframes displayAnime{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}










@keyframes modalopen {
    from {
        opacity: 0
    }
    to {
        opacity: 1

    }
}






/* ゆうや担当終わり */

@media (min-width: 720px)
{
    .main-next-event {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 720px)
{
    .main-event-comment {
        padding-right: 50px;
    }
}

@media (max-width: 470px)
{
    .main-event-comment{
        padding-right: 100px;
    }
}

.event-barner{
    display: flex;
    background-color: white;
    border-radius: 15px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 6px 70px;
    justify-content: center;
    padding: 0.3% 0.3% 0.3% 0.3%;
    border: solid 1px gray;
    width: 30%;
    height: 30%;
}

footer{
    height: 200px;
}