/* いつきのヘッダー */
.header-inner{
  align-items: center;
  background-color: #fff;
  display: flex;
  padding: 15px 24px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-nav{
  margin-left: auto;
  align-items: center;
  display: flex;
}

.header-title{
  font-weight: bold;
  display: flex;
  list-style: none;
  gap: 32px;  
}

.header-icon{
  display: flex;
  list-style: none;
  gap: 16px;
}

.header-nav li a{
  text-decoration: none;
  color: #666;
}



/* いつきのテーマ作るとこ*/















































.main-speech-heading{
  margin-top: 10%;
  padding-left: 5%;
  font-size: 50px;
  margin-bottom: 4%;
}

.main-theme{
  text-align: center;
  border: solid;
  border-color:black;
  cursor: pointer;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 8%;
}

.main-theme>p{
  font-size: 25px;
  height: 4%;
  font-weight: bolder;
}

/* ゆうやの押した後のコメント欄づくり */


















































.main-speech-img{
  border: solid 1px black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
}

.main-speech-img img{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}